/* Name: ElectionMod Project
Purpose: Use arrays for candidates and votes; isset() max() number_format()
Programmer: Judy Marie Delos Reyes on October 06, 2023 */

h1 {
    text-align: center;
}

body {
    text-align: center;
    font-family: Merriweather, serif;
}

table {
    margin: auto;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

th.rowName {
    background-color: aquamarine;
}

td.infoRow {
    background-color: antiquewhite;
}

td.infoRow1 {
    background-color: darkkhaki;
}

td.winner {
    background-color: greenyellow;
}